/* CSS Reset */
html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: sans-serif;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

/* Begin Custom Styles */
.flex-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
}

.flex-wrap{
    flex-wrap: wrap;
}

header {
    background-color: #92CCCE;
    color: #31343D;
    align-items: center;
}

#portfolio-name {
    width: 100%;
    text-align: center;
}

#navigation {
    width: 100%;
    text-align: center;
    display: inline;
    flex-direction: row;
}

#navigation li {
    flex-direction: row;
    background-color: #31343D;
}

nav a{
    color: #92CCCE;
    border-bottom: 3px solid #92CCCE;
  }

h1 {
    font-weight: bold;
    font-size: 44px;
    flex: 1 0 60px;
    line-height: 70px;
}
.navigation ul {
    height: 50px;
    padding: 15px 0;
}

.container ul li {
    /* align-items: center; */
    text-align: center;
    border-bottom: solid 3px;
    display: inline;
    padding: 3px;
    margin: 3px;
}

.container ul li a {
    background-color: #31343D;
    display: inline;
    color: #92CCCE;
}

nav a {
    text-decoration: none;
}

#hero {
    width: 100%;
    position: relative;
    background-color: #EEEEF7;
}

#hero img {
    width: 100%;
}
/* Do I need to make this and its container element flexbox for responsive!? */
#hero figcaption {
    position: absolute;
    font-family: sans-serif;
    font-size: 40px;
    background-color: #92CCCE;
    padding: 2px 10px;
    top: 80%;
    right: 10px;
}

/* Media Queries */
  /* Small smartphones - image placeholders change color */
  @media screen and (min-width: 576px) {
    nav {
        background-color: #31343D;
        }
    
    nav li {
        display: flex;
        justify-content: center;
        background-color: #31343D;
    }

    nav a {
        background-color:   #31343D;
        color: #92CCCE;
        border-bottom: 3px solid #92CCCE;
    }

    #navigation li {
        background-color: #31343D;
        display: inline;
        padding: 10px;
        margin-right: -170px;
        position: relative;
        left: -210px;
        top: 30px;
    }
    
    .flex-container {
        display: flex;
        flex-direction: row;
        flex: 0 0 200px;
    }

/* Large smartphones - navbar changes color */
@media screen and (min-width: 768px) {
    nav {
      background-color: #31343D;
      color: #92CCCE;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex: 0 0 200px;
    }
    
    #navigation li {
        background-color: #31343D;
        display: inline;
        padding: 20px;
        margin-right: -170px;
        position: relative;
        left: -180px;
        top: 20px;
    }

  }
  
@media screen and (min-width: 992px) {
    .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header {
        background-color: #31343D;
        color: #92CCCE; 
        align-items: initial;
    }

    #portfolio-name {
        position: relative;
        justify-content: left;
        width: 200px;
    }

    h1{
        width: 340px;
        /* line-height: 80px; */
        font-size: 34px;
        font-weight: bolder;
        height: 66px;
        position: relative;
        text-align: right;
        margin: 20px 0;
        padding: 0px 10px 30px 0;
        font-weight: bold;
        background-color: #92CCCE;
        color: #31343D;
    }

    #navigation {
        width: 200px;
        flex-direction: column;
        text-align: center;
        display: inline;
        flex-direction: row;
    }

    #about-me{
        background-color: #EEEEF7;
    }

    #about-me-inner {
        flex-direction: row;
        padding: 30px;
    }

    #about-me-inner h2 {
        height: 147px;
        flex: 1 0 0px;
        font-size: 44px;
        text-align: right;
        /* background-color: purple; */
        margin-right: 25px;
        line-height: 120px;
        padding-right: 14px;
        border-right: solid 4px #31343D;
        color: #31343D;
    }

    #about-me-inner span {
        content: attr(data-text);
        display: block;
        top: -72px;
        position: relative;
    }

    #about-me-inner p {
        flex: 1 0 60px;
        margin: 0 10px 0 0;
    }
  }
}
  